.Grid {
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  max-width: 1152px;
  margin: 0 auto;
  padding-bottom: 80px;
  grid-column-gap: 64px;
  grid-row-gap: 48px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

@media (min-width: 1240px) {
  .Grid {
    padding-left: 0;
    padding-right: 0;
  }
}
